---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const interviews = (await getCollection("interview")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead
      title={"Interviews | " + SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
    <style>
      h2 {
        text-align: center;
        margin-bottom: 1em;
      }
      main {
        max-width: 960px;
        padding: 64px 32px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
      }
      ul li {
        width: calc(50% - 0rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 9920px) {
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h2>While I have done over 500 interviews now on a variety of subjects, these
      I consider to be some of the best, and a great place to learn more on what
      I have to share. You can search the various video platforms for other 
      interviews I have done between 2020 and the present. Please click on the title to be taken to the video.</h2>
      <section>
        <ul>
          {
            interviews.map((interview) => (
              <li>
                <a href={`${interview.data.link}/`}>
                  <h4 class="title">{interview.data.title}</h4>
                  <p class="date">{interview.data.description}</p>
                  <p class="date">
                    <FormattedDate date={interview.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
